/* step-one one styles */

.step-one .screenshot {
  background: url("./assets/images/screenshot_20240205_at_11051.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 627px;
  margin: 0 auto;
}
.step-one .blurred-background {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1036px;
  height: 511px;
}
.step-one .main-title {
  margin: 0 0 8px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  line-height: 29.26px;
}
.step-one .subtitle {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}
.step-one .header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.step-one .instruction {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}
.step-one .uk-image {
  background: url("./assets/images/rectangle_9555643.png") 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 190px;
  height: 77px;
}
.step-one .option-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 17.07px;
}
.step-one .option-text-usa {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #00d315;
  line-height: 17.07px;
}
.step-one .option {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 210px;
  height: 125px;
}
.step-one .option-usa {
  border-radius: 10px;
  border: 2px solid #00d315;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 210px;
  height: 125px;
}
.step-one .us-image {
  background: url("./assets/images/rectangle_9555642.png") 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 190px;
  height: 77px;
}
.step-one .option.active {
  border: 2px solid #00d315;
}
.step-one .option.active .option-text {
  color: #00d315;
}
.step-one .australia-image {
  background: url("./assets/images/rectangle_9555641.png") 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 190px;
  height: 77px;
}
.step-one .canada-image {
  background: url("./assets/images/rectangle_955564.png") 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 190px;
  height: 77px;
}
.step-one .options-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 900px;
  box-sizing: border-box;
}
.step-one .content {
  position: relative;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}
.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-one .button-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  width: 34px;
  height: 17px;
  position: absolute;
  top: 12px;
  left: 41px;
}
.step-one .button-container {
  border-radius: 10px;
  background: #00d315;
  width: 115.9px;
  height: 42px;
  position: relative;
  margin-right: 784.1px;
  box-sizing: border-box;
}
.step-one {
  position: relative;
}

.step-2 {
  position: relative;
}
.step-2 .screenshot-20240205-at-11051 {
  background: url("./assets/images/screenshot_20240205_at_11051.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 627px;
  margin: 0 auto;
}
.step-2 .rectangle {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1036px;
  height: 511px;
}

.step-2 .study-abroad-with-globals {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  line-height: 29.26px;
}
.step-2 .share-information-for-details {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}

.step-2 .group-23 {
  position: relative;
  margin: 0 579.2px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.step-2 .primary-information {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}
.step-2 .first-name {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}
.step-2 .image-2 {
  background: url("../assets/images/image_3.png") 50% / cover no-repeat;
  margin-right: 8.5px;
  width: 17.1px;
  height: 20px;
}
.step-2 .given-name {
  margin: 2px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #d9d9d9;
}
.step-2 .container-1 {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0 14px 17.1px;
  width: 444px;
  box-sizing: border-box;
}
.step-2 .group-9 {
  margin-right: 17.1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.step-2 .last-name {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}
.step-2 .image-3 {
  background: url("../assets/images/image_3.png") 50% / cover no-repeat;
  margin-right: 8.5px;
  width: 17.1px;
  height: 20px;
}
.step-2 .last-name-1 {
  margin: 2px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #d9d9d9;
}
.step-2 .container-3 {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0 14px 17.1px;
  width: 444px;
  box-sizing: border-box;
}
.step-2 .group-10 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.step-2 .container-2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.step-2 .email-address {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}
.step-2 .image-21 {
  background: url("../assets/images/image_21.png") 50% / cover no-repeat;
  margin-right: 8.5px;
  width: 17.1px;
  height: 20px;
}
.step-2 .email-address-1 {
  margin: 2px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #d9d9d9;
}
.step-2 .container-4 {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0 14px 17.1px;
  width: 444px;
  box-sizing: border-box;
}
.step-2 .group-11 {
  margin-right: 17px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.step-2 .mobile-number {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}
.step-2 .image-22 {
  background: url("../assets/images/image_2.png") 50% / cover no-repeat;
  margin-right: 8.5px;
  width: 17.1px;
  height: 20px;
}
.step-2 .enter-your-contact {
  margin: 2px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #d9d9d9;
}
.step-2 .container {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0 14px 17.1px;
  width: 444px;
  box-sizing: border-box;
}
.step-2 .group-15 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.step-2 .container-6 {
  margin: 0 0px 33px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.step-2 .back {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 12px;
  left: 39px;
}
.step-2 .group-22 {
  border-radius: 10px;
  background: #ff1f1f;
  position: relative;
  margin-right: 23px;
  display: flex;
  padding: 12px 1.8px 13px 0;
  width: 115.9px;
  box-sizing: border-box;
}
.step-2 .next {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 12px;
  left: 39px;
}
.step-2 .group-21 {
  border-radius: 10px;
  background: #00d315;
  position: relative;
  display: flex;
  padding: 12px 0 13px 0.1px;
  width: 115.9px;
  box-sizing: border-box;
}
.step-2 .frame-4 {
  display: flex;
  flex-direction: row;
  width: 254.8px;
  box-sizing: border-box;
}
.step-2 .polygon-2 {
  border-radius: 1px;
  transform: rotate(179.98deg);
  width: 17.9px;
  height: 19px;
}
.step-2 .group-14 {
  border-radius: 1px;
  margin-top: 23px;
  display: flex;
  width: 17.9px;
  height: 19px;
  box-sizing: border-box;
}
.step-2 .container-5 {
  margin-right: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 887.9px;
  box-sizing: border-box;
}
.elements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-2 .group-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.step-three {
  position: relative;
}
.step-three .screenshot-20240205-at-11051 {
  background: url("./assets/images/screenshot_20240205_at_11051.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 627px;
  margin: 0 auto;
}
.step-three .blurred-background {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1036px;
  height: 511px;
}
.step-three .study-abroad-with-globals {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  line-height: 29.26px;
}
.step-three .share-information-for-details {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}

.step-three-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-three .step-three-group-23 {
  position: relative;
  margin: 0 579.2px 25px 0;
  display: flex;
  flex-direction: column;
  width: 326px;
  height: 59px;
  gap: 0px;
  opacity: 0px;
}
.abroad-slogan {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  line-height: 29.26px;
}
.information-slogan {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 21.94px;
}
.admission-preference {
  width: 205px;
  height: 22px;
  top: 219px;
  left: 201px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  margin-bottom: 22px;
}
.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.input-group {
  margin-right: 17.1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.preferred-course {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}
.label-container {
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 13px 0 14px 17.1px;
  width: 444px;
  box-sizing: border-box;
}
.polygon-2 {
  background: url("./assets/images/Polygon\ 2.png") 50% / cover no-repeat;
  margin-right: 12px;
  width: 17.1px;
  height: 20px;
}
.preferred-course-placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #d9d9d9;
}

.step-three .container-1 {
  position: relative;
  display: flex;
  margin-top: 10px;
}
.step-three .container-5 {
  position: relative;
  margin: 0 23px 30px 0;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.step-three .back {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 12px;
  left: 39px;
}
.step-three .group-22 {
  border-radius: 10px;
  background: #ff1f1f;
  position: relative;
  margin-right: 23px;
  display: flex;
  padding: 12px 1.8px 13px 0;
  width: 115.9px;
  height: 42px;
  box-sizing: border-box;
}
.step-three .save {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 12px;
  left: 39px;
}
.step-three .group-21 {
  border-radius: 10px;
  background: #00d315;
  position: relative;
  display: flex;
  padding: 12px 0 13px 0.1px;
  width: 115.9px;
  height: 42px;
  box-sizing: border-box;
}
.step-three .frame-4 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 254.8px;
  box-sizing: border-box;
}
.step-three .has-ielts-taken {
  margin-right: 17.1px;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.step-three .ellipse-457 {
  border-radius: 7.5px;
  background: #d9d9d9;
  margin: 4px 2px 3px 0;
  width: 15px;
  height: 15px;
}
.step-three .ellipse-458 {
  border-radius: 7.5px;
  background: #00d315;
  margin: 4px 3px 3px 15px;
  width: 15px;
  height: 15px;
}
.step-three .yes {
  margin: 3px 12.7px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.step-three .no {
  margin: 3px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.exclamatory {
  background: url("./assets/images/image_4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 31px;
  height: 27px;
}
